Flask==1.1.2
mne
numpy
matplotlib
pandas
scikit-learn
seaborn
tensorflow
threadpoolctl
Werkzeug
gunicorn
flask_cors
click
colorama
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
scipy
scikit-learn==1.2.2